body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .password-screen, .home-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .password-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  input[type="password"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 99999999999999;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .hidden {
    display: none;
  }
  